@font-face {
	font-family:'Quicksandbox';
	src:url('fonts/Quicksand_Book-webfont.eot');
	src:url('fonts/Quicksand_Book-webfont.eot#iefix')format('embedded-ontype'),
		url('fonts/Quicksand_Book-webfont.woff')format('woff'),
		url('fonts/Quicksand_Book-webfont.ttf')format('truetype'),
		url('fonts/Quicksand_Book-webfont.svg#QuicksandBook')format('svg');
	font-weight:normal;
	font-style:normal;
}


#container {
	width: 800px;
	margin: 0 auto;
	/*border: 3px solid #2A1506;*/
	padding: 10px;
	position: relative;
}

body {
	background-color: #f3f8f1;
	margin: 0 auto;
	overflow: hidden;
}

nav {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #f3f8f1;
}

li {
	float: left;
}

li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #B299CC;
}

img {
	display: block;
	margin: auto;
}

p {
	text-align: center;
}



