@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,900,700);
@font-face {
    font-family: 'HalisR';
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/HalisR-Book.otf") format("opentype")
}

@font-face {
    font-family: 'HalisR';
    font-weight: bold;
    font-style: normal;
    src: url("/fonts/HalisR-Bold.otf") format("opentype")
}

.italics {
    font-style: italic
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0
}

h1,
h2 {
    font-family: 'HalisR', Lato, serif;
    font-weight: bold;
    font-style: normal;
    line-height: 2em
}

p.subtitle {
    font-size: 1em;
    font-weight: 500;
    padding-top: 30px
}

body {
    font-family: "HalisR", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 300;
    color: #030303;
    -webkit-text-size-adjust: 100%
}

html {
    background-color: #FEFEFE
}

p,
pre,
ul,
ol,
dl,
figure,
.highlight {
    margin-bottom: 20px
}

.alignright {
    float: right
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3)
}

figure>img {
    display: block
}

figcaption {
    font-size: 14px
}

ul,
ol {
    margin-left: 50px
}

li>ul,
li>ol {
    margin-bottom: 0
}

a {
    color: #030303;
    text-decoration: none;
    border-bottom: solid 2px #030303;
    display: inline
}

a:hover {
    opacity: 0.5;
    transition: all 0.2s;
    text-decoration: none
}

.Zoe a.page-link {
    display: none
}

a.page-link:hover {
    opacity: 1
}

.thumbnail a:hover {
    opacity: 1
}

pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: #030303
}

code {
    padding: 1px 5px
}

pre {
    padding: 8px 12px;
    overflow-x: scroll
}

pre>code {
    border: 0;
    padding-right: 0;
    padding-left: 0
}

.wrapper {
    max-width: -webkit-calc(1000px - (50px * 2));
    max-width: calc(1000px - (50px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px - (50px));
        max-width: calc(800px - (50px));
        padding-right: 15px;
        padding-left: 15px
    }
}

.wrapper:before,
.wrapper:after {
    content: "";
    display: table;
    clear: both
}

.subtitle a {
    color: #030303;
    border-bottom: solid 2px #030303;
    display: inline
}

.Zoe.site-header {
    display: none
}

.site-header {
    left: 0px;
    top: 0px;
    height: 56px;
    width: 100%;
    z-index: 50
}

.site-title {
    font-size: 20px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0
}

.site-title:hover {
    text-decoration: none;
    color: #fff
}

.site-nav {
    font-weight: 700;
    line-height: 56px
}

.site-nav .page-link {
    color: rgba(0, 0, 0, 0.5);
    border: none;
    line-height: 1.5em
}

.site-nav .page-link:not(:first-child) {
    margin-left: 20px
}

@media screen and (max-width: 600px) {
    .site-nav {
        position: fixed;
        top: 0px;
        right: 10px;
        text-align: right
    }
    .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px
    }
    .site-nav .page-link {
        display: line
    }
}

.header-bar {
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 20px;
    display: block;
    width: 100%;
    z-index: 25
}

.header-bar h1 {
    color: #030303;
    font-size: 50px;
    line-height: 1.2em;
    padding-top: 15px
}

.header-bar h2 {
    font-size: 28px;
    line-height: 2em
}

.portfolio {
    background-color: #fff
}

.site-footer {
    font-size: 10px;
    padding: 2px;
    height: 25px
}

.site-footer p {
    text-align: center
}

.pagination {
    max-width: -webkit-calc(800px - (50px * 2));
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 50px
}

.paginationicon {
    font-size: 50px
}

.paginationicon a {
    color: #fff
}

.page-content {
    padding: 100px 0
}

.page-heading {
    font-size: 20px
}

.post-list {
    margin: 0px 0;
    list-style: none
}

.post-list>li {
    margin-bottom: 40px
}

.contacticon {
    font-size: 1.2em;
    display: block;
    margin: 50px 0px 80px 0px
}

.contacticon a {
    margin: 0px 8px 0px 0px;
    color: #030303;
    border: none
}

.contacticon a:hover {
    color: #007F12
}

.douban-wrapper .overlay {
    position: absolute;
    opacity: 0;
}

.douban-wrapper:hover .default {
    display: none;
    border: none;
}

.douban-wrapper:hover .overlay {
    opacity: 1;
}

.envelope {
    font-size: .95em
}

.center {
    text-align: center
}

.post-header {
    margin-bottom: 40px
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1
}

@media screen and (max-width: 800px) {
    .post-title {
        font-size: 36px
    }
}

img.explore {
    padding: 0px;
    margin-bottom: 20px
}

.post-content h2 {
    font-size: 28px
}

@media screen and (max-width: 800px) {
    .post-content h2 {
        font-size: 28px
    }
}

.post-content h3 {
    font-size: 22px;
    line-height: 2em
}

@media screen and (max-width: 800px) {
    .post-content h3 {
        font-size: 22px
    }
}

.post-content h4 {
    font-size: 20px
}

@media screen and (max-width: 800px) {
    .post-content h4 {
        font-size: 18px
    }
}

.post-meta {
    font-size: 14px;
    color: #030303;
    margin-bottom: 0px
}

.post-link {
    display: block;
    font-size: 42px
}

.blankbox {
    background: #fff
}

.img_row {
    height: 275px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box
}

.img_row.no-caption {
    margin-bottom: 20px
}

img.home {
    width: 60%;
    top: -100px
}

.col {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    object-fit: cover;
    box-sizing: border-box;
    padding: 5px
}

.right {
    float: right
}

.one {
    width: 33.33%
}

.two {
    width: 66.66%
}

.three {
    width: 100%
}

.no-padding {
    padding: 0
}

.caption {
    height: 100%;
    color: #030303;
    line-height: 1.5em;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-left: 35px;
    padding-right: 35px
}

.thumbnail {
    width: 100%
}

.grid-item {
    position: relative;
    top: 6px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.grid-item:hover {
    top: 0px
}

.thumbnail a {
    float: left;
    position: relative;
    width: 100%;
    height: auto;
    border: none
}

.thumbnail a span {
    color: black;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.grid {
    display: inline-block
}

.grid-item {
    width: 49%;
    height: 360px;
    float: left
}

.grid-item:nth-child(even) {
    float: right
}

.project-title {
    font-weight: 600;
    font-size: 14px;
    margin: 0;
    margin-top: 5px;
    color: #030303
}

.project-desc {
    line-height: 1.5em;
    font-size: 12px;
    color: #030303
}

a.linked-img img {
    opacity: 1;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

a.linked-img:hover img {
    opacity: 0.5
}

@media only screen and (max-width: 1000px) {
    .thumbnail {
        height: 80%
    }
}

@media only screen and (max-width: 720px) {
    .grid-item {
        width: 100%;
        height: auto
    }
    .thumbnail {
        position: relative;
        width: 100%;
        height: 100%;
        float: left;
        object-fit: cover;
        padding-bottom: 20px
    }
    .project-title {
        line-height: 2em
    }
}

img.profile-photo {
    border-radius: 50%;
    width: 180px;
    margin-left: 30px
}

img.full-width {
    width: 100%
}

img.half-width {
    width: 49%;
    margin-bottom: 15px
}

.right {
    position: relative;
    float: right
}

.highlight {
    background: #fff
}

.highlight .c {
    color: #998;
    font-style: italic
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .k {
    font-weight: bold
}

.highlight .o {
    font-weight: bold
}

.highlight .cm {
    color: #998;
    font-style: italic
}

.highlight .cp {
    color: #999;
    font-weight: bold
}

.highlight .c1 {
    color: #998;
    font-style: italic
}

.highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}

.highlight .gd {
    color: #000;
    background-color: #fdd
}

.highlight .gd .x {
    color: #000;
    background-color: #faa
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #a00
}

.highlight .gh {
    color: #999
}

.highlight .gi {
    color: #000;
    background-color: #dfd
}

.highlight .gi .x {
    color: #000;
    background-color: #afa
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #aaa
}

.highlight .gt {
    color: #a00
}

.highlight .kc {
    font-weight: bold
}

.highlight .kd {
    font-weight: bold
}

.highlight .kp {
    font-weight: bold
}

.highlight .kr {
    font-weight: bold
}

.highlight .kt {
    color: #458;
    font-weight: bold
}

.highlight .m {
    color: #099
}

.highlight .s {
    color: #d14
}

.highlight .na {
    color: teal
}

.highlight .nb {
    color: #0086B3
}

.highlight .nc {
    color: #458;
    font-weight: bold
}

.highlight .no {
    color: teal
}

.highlight .ni {
    color: purple
}

.highlight .ne {
    color: #900;
    font-weight: bold
}

.highlight .nf {
    color: #900;
    font-weight: bold
}

.highlight .nn {
    color: #555
}

.highlight .nt {
    color: navy
}

.highlight .nv {
    color: teal
}

.highlight .ow {
    font-weight: bold
}

.highlight .w {
    color: #bbb
}

.highlight .mf {
    color: #099
}

.highlight .mh {
    color: #099
}

.highlight .mi {
    color: #099
}

.highlight .mo {
    color: #099
}

.highlight .sb {
    color: #d14
}

.highlight .sc {
    color: #d14
}

.highlight .sd {
    color: #d14
}

.highlight .s2 {
    color: #d14
}

.highlight .se {
    color: #d14
}

.highlight .sh {
    color: #d14
}

.highlight .si {
    color: #d14
}

.highlight .sx {
    color: #d14
}

.highlight .sr {
    color: #009926
}

.highlight .s1 {
    color: #d14
}

.highlight .ss {
    color: #990073
}

.highlight .bp {
    color: #999
}

.highlight .vc {
    color: teal
}

.highlight .vg {
    color: teal
}

.highlight .vi {
    color: teal
}

.highlight .il {
    color: #099
}
