#container {
	width: 800px;
	margin: 0 auto;
	/*border: 3px solid #2A1506;*/
	padding: 10px;
	position: relative;
}

body {
	background-color: #f3f8f1;
	margin: 0 auto;
	overflow: hidden;
}

/* nav buttons */
button {
  color: #454545;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #454545;
  position: relative;
  margin: 1em;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold
}

button:before,
button:after {
  content: '';
  display: block;
  position: absolute;
  border-color: #454545;
  box-sizing: border-box;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out
}

button:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

button:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

button:hover:before,
button:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #fff
}

button:hover {
  color: #B299CC;
  background-color: #fff;
  border-color: #fff
}

.panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}

.purple button {
  color: #B299CC;
  border-color: #B299CC
}

.purple button:before,
.purple button:after {
  border-color: #B299CC
}

.purple button:hover:before,
.purple button:hover:after {
  border-color: #B299CC;
}

.purple button:hover {
  color: #fff;
  background-color: #B299CC;
  border-color: #B299CC;
}

.purple .panel {
  max-width: 960px;
  text-align: center;
  position: relative;
  margin: auto;
}

/* text and image */
img {
	display: block;
	margin: auto;
}

p {
	text-align: center;
}


/* pikachu */
.loading {
    width: 100%;
		background-color: #f3f8f1;
    display: fixed;
}

.loading img {
    display: block;
    min-height: 209px;
    min-width: 200px;
}
