
h1{
	position:absolute;
	z-index:1;
	color: white;
	top:50%;
	left:50%;
}

canvas{
	position: absolute;
	z-index: 0;
}

body { 
	background: #060e1b;
	overflow: hidden;
	/*position:absolute;
	z-index:1;*/
}


