html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
html {
  margin-top: 0 !important; }

body {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #040404;
  background: #fff; }

input, textarea, select {
  -webkit-appearance: none;
  border-radius: 0; }

a {
  outline: none !important; }

#wrapper {
  margin-top: 129px; }

p.text {
  font-size: 14px;
  line-height: 28px;
  color: #040404;
  letter-spacing: 0.5px; }

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative; }

.swipe-wrap {
  overflow: hidden;
  position: relative; }

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative; }

.swipe-wrap div img {
  display: block;
  width: 100%; }

header {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  background: #fff;
  height: 128px;
  overflow: hidden;
  -moz-transition: height 0.2s ease-in-out;
  -o-transition: height 0.2s ease-in-out;
  -webkit-transition: height 0.2s ease-in-out;
  transition: height 0.2s ease-in-out; }
header .header-inside {
  max-width: 1212px;
  margin: 0 auto;
  overflow: hidden; }
header .logo {
  margin: 35px 60px 0 105px;
  float: left;
  -moz-transition: margin 0.2s ease-in-out;
  -o-transition: margin 0.2s ease-in-out;
  -webkit-transition: margin 0.2s ease-in-out;
  transition: margin 0.2s ease-in-out; }
header .logo a {
  display: block;
  width: 180px;
  -moz-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  transition: width 0.2s ease-in-out;
  outline: none; }
header .logo a img {
  display: block;
  width: 100%;
  outline: none; }
header nav {
  float: left;
  margin-top: 76px;
  -moz-transition: margin 0.2s ease-in-out;
  -o-transition: margin 0.2s ease-in-out;
  -webkit-transition: margin 0.2s ease-in-out;
  transition: margin 0.2s ease-in-out; }
header nav ul {
  overflow: hidden; }
header nav ul li {
  float: left; }
header nav ul li a {
  color: #0e2046;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.5px; }
header nav ul li a:hover {
  color: #d55f11; }
header nav ul li a:focus {
  color: #0e2046; }
header nav ul li .icon {
  display: block;
  margin: 3px 30px 0;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -6px;
  width: 8px;
  height: 9px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  header nav ul li .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
header .block-social {
  display: block;
  float: right;
  margin-top: 76px; }
header .block-social .btn, header .block-social .separator {
  display: block;
  float: left;
  margin-right: 22px; }
header .block-social .btn .icon, header .block-social .separator .icon {
  display: block; }
header .block-social .btn.btn-fb .icon, header .block-social .separator.btn-fb .icon {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -109px;
  width: 8px;
  height: 14px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  header .block-social .btn.btn-fb .icon, header .block-social .separator.btn-fb .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
header .block-social .btn.btn-fb:hover .icon, header .block-social .separator.btn-fb:hover .icon {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -93px;
  width: 8px;
  height: 14px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  header .block-social .btn.btn-fb:hover .icon, header .block-social .separator.btn-fb:hover .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
header .block-social .btn.btn-gp .icon, header .block-social .separator.btn-gp .icon {
  margin-top: 1px;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -61px;
  width: 14px;
  height: 14px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  header .block-social .btn.btn-gp .icon, header .block-social .separator.btn-gp .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
header .block-social .btn.btn-gp:hover .icon, header .block-social .separator.btn-gp:hover .icon {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -125px;
  width: 14px;
  height: 14px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  header .block-social .btn.btn-gp:hover .icon, header .block-social .separator.btn-gp:hover .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
header .block-social .btn.btn-ta .icon, header .block-social .separator.btn-ta .icon {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -45px;
  width: 23px;
  height: 14px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  header .block-social .btn.btn-ta .icon, header .block-social .separator.btn-ta .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
header .block-social .btn.btn-ta:hover .icon, header .block-social .separator.btn-ta:hover .icon {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -77px;
  width: 23px;
  height: 14px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  header .block-social .btn.btn-ta:hover .icon, header .block-social .separator.btn-ta:hover .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
header .block-social .separator .icon {
  margin-top: 3px;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -6px;
  width: 8px;
  height: 9px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  header .block-social .separator .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
header .btn-lang {
  margin-top: 76px;
  display: block;
  float: right;
  color: #0e2046;
  text-transform: uppercase;
  text-decoration: none;
  -moz-transition: margin 0.2s ease-in-out;
  -o-transition: margin 0.2s ease-in-out;
  -webkit-transition: margin 0.2s ease-in-out;
  transition: margin 0.2s ease-in-out; }
header .btn-lang:hover {
  color: #d55f11; }

.archive header nav ul li a.btn-news, .search header nav ul li a.btn-news, .single-post header nav ul li a.btn-news, .page-template-default header nav ul li a.btn-news {
  color: #d55f11; }

.sticky header {
  height: 60px;
  border-bottom: 1px solid #e5e5e5; }
.sticky header .logo {
  margin-top: 10px; }
.sticky header .logo a {
  width: 120px; }
.sticky header nav, .sticky header .btn-lang {
  margin-top: 30px; }

footer .footer-content {
  max-width: 1200px;
  margin: 36px auto 40px;
  text-align: right;
  font-size: 11px; }
footer a {
  outline: none; }
footer a img {
  outline: none; }
footer .img-footer-logo {
  display: inline-block; }
footer .footer-logo {
  display: inline-block;
  width: 80px;
  position: relative;
  top: 8px; }
footer .btn-credits {
  display: inline-block;
  margin-right: 50px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0e2046; }
footer .btn-credits:hover {
  color: #d55f11; }
footer .form-newsletter {
  display: inline-block;
  margin-right: 25px;
  position: relative; }
footer .form-newsletter label {
  text-transform: uppercase;
  color: #7b7b7b;
  margin-right: 22px; }
footer .form-newsletter input {
  background: #F6F6F6;
  border: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  font-size: 11px;
  line-height: normal;
  font-family: "Lato", sans-serif;
  padding: 14px;
  margin: 0; }
footer .form-newsletter input:focus {
  background: #F6F6F6; }
footer .form-newsletter input.input-text {
  padding: 14px 14px 14px 19px;
  width: auto; }
footer .form-newsletter input.btn-submit {
  cursor: pointer;
  color: #040404;
  margin-left: -2px; }
footer .form-newsletter input.btn-submit:hover {
  background: #F6F6F6;
  color: #d55f11; }
footer .form-newsletter .border-newsletter {
  display: inline-block;
  width: 1px;
  height: 20px;
  padding: 14px 0;
  margin: 0 0 0 -3px; }
footer .form-newsletter .border-newsletter .border {
  display: block;
  background: #c8cbd3;
  height: 20px; }
footer .form-newsletter .form-message {
  display: none;
  position: absolute;
  right: 0;
  bottom: -20px; }
footer .form-newsletter .form-message.valid-error, footer .form-newsletter .form-message.error {
  color: #B20000; }
footer .form-newsletter .form-message.valid {
  color: #145214; }

.mobile-nav {
  display: none; }

h2.title {
  text-align: center;
  font-size: 70px;
  line-height: 80px;
  margin: 50px 0; }
h2.title .icon {
  display: inline-block;
  text-indent: -5000px;
  overflow: hidden;
  margin-bottom: 8px; }
h2.title .icon.icon-left {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -357px;
  width: 10px;
  height: 24px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  h2.title .icon.icon-left {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
h2.title .icon.icon-right {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -383px;
  width: 10px;
  height: 24px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  h2.title .icon.icon-right {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
h2.title .text {
  display: inline-block;
  font-family: "Playfair Display", serif;
  color: #0e2046;
  margin: 0 20px; }

.article-carousel, .swipe-container {
  position: relative; }
.article-carousel .btn-prev, .article-carousel .btn-next, .swipe-container .btn-prev, .swipe-container .btn-next {
  position: absolute;
  top: 50%;
  margin-top: -26px;
  text-indent: -5000px;
  overflow: hidden; }
.article-carousel .btn-prev, .swipe-container .btn-prev {
  left: 40px;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -567px;
  width: 52px;
  height: 52px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .article-carousel .btn-prev, .swipe-container .btn-prev {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.article-carousel .btn-prev:hover, .swipe-container .btn-prev:hover {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -621px;
  width: 52px;
  height: 52px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .article-carousel .btn-prev:hover, .swipe-container .btn-prev:hover {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.article-carousel .btn-next, .swipe-container .btn-next {
  right: 40px;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -513px;
  width: 52px;
  height: 52px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .article-carousel .btn-next, .swipe-container .btn-next {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.article-carousel .btn-next:hover, .swipe-container .btn-next:hover {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -675px;
  width: 52px;
  height: 52px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .article-carousel .btn-next:hover, .swipe-container .btn-next:hover {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.article-carousel .swipe-dots, .swipe-container .swipe-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  overflow: hidden;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }
.article-carousel .btn-dot, .swipe-container .btn-dot {
  float: left;
  margin: 0 6px; }
.article-carousel .btn-dot .dot, .swipe-container .btn-dot .dot {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  text-indent: -5000px;
  overflow: hidden; }
.article-carousel .btn-dot:hover .dot, .article-carousel .btn-dot.selected .dot, .swipe-container .btn-dot:hover .dot, .swipe-container .btn-dot.selected .dot {
  background: #d55f11; }

.home-intro {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  color: #0e2046;
  overflow: hidden;
  position: relative; }
.home-intro .separator {
  position: absolute;
  left: 33.33%;
  top: 50px;
  bottom: 50px;
  width: 13px; }
.home-intro .separator.separator-2 {
  left: 66.66%; }
.home-intro .separator .separator-top, .home-intro .separator .separator-bottom {
  display: block;
  position: absolute;
  width: 13px;
  height: 12px; }
.home-intro .separator .separator-top {
  top: 0;
  left: 0;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -31px;
  width: 13px;
  height: 12px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .home-intro .separator .separator-top {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.home-intro .separator .separator-bottom {
  bottom: 0;
  right: 6px;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -17px;
  width: 13px;
  height: 12px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .home-intro .separator .separator-bottom {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.home-intro .separator .separator-body {
  display: block;
  position: absolute;
  top: 12px;
  bottom: 12px;
  width: 13px;
  background: url(../img/skin/separator-body.png) repeat-y left top;
  background-size: 7px 1px; }
.home-intro .col-left {
  font-family: "Playfair Display", serif; }
.home-intro .col-left .title-top {
  font-size: 58px;
  line-height: 58px; }
.home-intro .col-left .title-main {
  font-size: 90px;
  line-height: 78px; }
.home-intro .col-center .block-col-inside, .home-intro .col-right .block-col-inside {
  padding: 20px 40px 0; }
.home-intro .block-col {
  width: 33.33%;
  float: left; }
.home-intro .block-col p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-bottom: 15px; }
.home-intro strong {
  font-weight: 700; }

.home-carte {
  background: #e5eaf6 url(../img/skin/bg-menu.png) repeat-x left top;
  position: relative; }
.home-carte h2.title {
  margin: 36px 0; }
.home-carte .section-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0; }
.home-carte .section-inside {
  position: relative;
  z-index: 1;
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 70px; }
.home-carte .block-menu .block-menu-inside {
  padding: 32px 50px 50px;
  background: #fff; }
.home-carte .block-menu h3 {
  color: #0e2046;
  font-size: 44px;
  line-height: 44px;
  font-family: "Playfair Display", serif; }
.home-carte .block-menu h4 {
  color: #0e2046;
  font-size: 20px;
  line-height: 24px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 700; }
.home-carte .block-menu h5 {
  font-size: 11px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px; }
.home-carte .block-menu .main-price {
  font-size: 30px;
  line-height: 24px;
  font-family: "Playfair Display", serif;
  font-weight: 700; }
.home-carte .block-menu .main-price .icon {
  display: inline-block;
  overflow: hidden;
  margin-bottom: 7px;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px 0px;
  width: 14px;
  height: 4px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .home-carte .block-menu .main-price .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.home-carte .block-menu .main-price .icon.icon-left {
  margin-right: 4px; }
.home-carte .block-menu .main-price .icon.icon-right {
  margin-left: 4px; }
.home-carte .block-menu .main-price .currency {
  font-size: 20px; }
.home-carte .block-menu p {
  margin-top: 20px; }
.home-carte .block-menu table, .home-carte .block-menu .tablepress {
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 20px 0 0; }
.home-carte .block-menu table tbody td, .home-carte .block-menu table tbody th, .home-carte .block-menu .tablepress tbody td, .home-carte .block-menu .tablepress tbody th {
  padding: 0;
  border-top: 0;
  vertical-align: bottom; }
.home-carte .block-menu table .price, .home-carte .block-menu table .column-2, .home-carte .block-menu .tablepress .price, .home-carte .block-menu .tablepress .column-2 {
  color: #bebebe;
  width: 65px;
  text-align: left; }
.home-carte .block-menu table .price .sub, .home-carte .block-menu table .column-2 .sub, .home-carte .block-menu .tablepress .price .sub, .home-carte .block-menu .tablepress .column-2 .sub {
  font-size: 10px; }
.home-carte .block-menu table .column-1, .home-carte .block-menu .tablepress .column-1 {
  line-height: 20px; }
.home-carte .block-menu table caption, .home-carte .block-menu .tablepress caption {
  display: none; }
.home-carte .block-menu .menu-content {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px; }
.home-carte .no-desktop {
  display: none !important; }
.home-carte .block-line {
  clear: both;
  overflow: hidden;
  margin: 70px 0;
  display: table;
  width: 100%; }
.home-carte .block-line .block-tall, .home-carte .block-line .block-bottom {
  display: table-cell;
  vertical-align: bottom; }
.home-carte .block-center, .home-carte .block-tall {
  width: 62.5%; }
.home-carte .block-tall h4 {
  margin-top: 30px; }
.home-carte .block-bottom {
  width: 33%; }
.home-carte .block-bottom .block-menu-inside {
  margin-top: 40px; }
.home-carte .block-left {
  padding-right: 40px; }
.home-carte .block-center {
  float: none;
  margin: 0 auto 140px;
  text-align: center; }
.home-carte .block-lunch, .home-carte .block-starters, .home-carte .block-mains {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
.home-carte .block-lunch.show-lunch, .home-carte .block-lunch.show-starters, .home-carte .block-lunch.show-mains, .home-carte .block-starters.show-lunch, .home-carte .block-starters.show-starters, .home-carte .block-starters.show-mains, .home-carte .block-mains.show-lunch, .home-carte .block-mains.show-starters, .home-carte .block-mains.show-mains {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0); }

.home-restaurant {
  margin-bottom: 90px; }
.home-restaurant .section-content {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden; }
.home-restaurant .block-col {
  width: 33.33%;
  float: left;
  display: table;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  -webkit-transform: translateY(100px);
  transform: translateY(100px); }
.home-restaurant .block-col.block-col-0 {
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
.home-restaurant .block-col.block-col-1 {
  -moz-transition: all 0.4s ease-in-out 0.1s;
  -o-transition: all 0.4s ease-in-out 0.1s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition: all 0.4s ease-in-out 0.1s; }
.home-restaurant .block-col.block-col-2 {
  -moz-transition: all 0.4s ease-in-out 0.2s;
  -o-transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out;
  -webkit-transition-delay: 0.2s;
  transition: all 0.4s ease-in-out 0.2s; }
.home-restaurant .block-col .block-col-inside {
  margin: 0 30px; }
.home-restaurant .block-col .img-container {
  display: table-cell;
  vertical-align: middle;
  height: 380px; }
.home-restaurant .block-col .img-container img {
  display: block;
  width: 100%;
  max-height: 100%; }
.home-restaurant.show-restaurant .block-col {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }
.home-restaurant h6 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px; }
.home-restaurant p {
  font-size: 14px;
  line-height: 24px; }
.home-restaurant .restaurant-slider {
  margin: 90px auto 0;
  max-width: 1024px; }
.home-restaurant .restaurant-slider .btn-prev {
  left: 30px; }
.home-restaurant .restaurant-slider .btn-next {
  right: 30px; }
.home-restaurant .restaurant-slider .swipe-dots {
  bottom: 20px; }

.home-contact {
  position: relative; }
.home-contact .map {
  height: 570px;
  background: #F3F3F3; }
.home-contact .contact-content {
  position: absolute;
  left: 50%;
  top: 70px;
  bottom: 60px;
  width: 330px;
  margin-left: -480px;
  background: #fff;
  color: #0e2046; }
.home-contact .contact-inside {
  padding: 40px; }
.home-contact .title {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 20px; }
.home-contact .title .icon {
  display: inline-block;
  text-indent: -5000px;
  overflow: hidden; }
.home-contact .title .icon.icon-left {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -357px;
  width: 10px;
  height: 24px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .home-contact .title .icon.icon-left {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.home-contact .title .text {
  display: inline-block;
  font-family: "Playfair Display", serif; }
.home-contact h6 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px; }
.home-contact p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 15px; }
.home-contact p strong {
  font-weight: 700; }
.home-contact p:last-child {
  margin-bottom: 0; }

.home-carte .section-background {
  overflow: hidden; }
.home-carte .section-background img {
  display: block;
  position: absolute;
  left: 50%;
  top: 60%; }
.home-carte .section-background .fish-1 {
  margin: -1260px 0 0 -560px; }
.home-carte .section-background .fish-2 {
  margin: -1325px 0 0 424px; }
.home-carte .section-background .fish-3 {
  margin: -1110px 0 0 -610px; }
.home-carte .section-background .fish-4 {
  margin: -1230px 0 0 -230px; }
.home-carte .section-background .fish-5 {
  margin: -920px 0 0 -515px; }
.home-carte .section-background .fish-6 {
  margin: -750px 0 0 -18px; }
.home-carte .section-background .fish-7 {
  margin: -615px 0 0 -680px; }
.home-carte .section-background .fish-8 {
  margin: -350px 0 0 -300px; }
.home-carte .section-background .fish-9 {
  margin: -330px 0 0 195px; }
.home-carte .section-background .fish-10 {
  margin: 40px 0 0 -1010px; }
.home-carte .section-background .fish-11 {
  margin: 220px 0 0 385px; }
.home-carte .section-background .fish-12 {
  margin: 275px 0 0 -90px; }
.home-carte .section-background .fish-13 {
  margin: 490px 0 0 -620px; }
.home-carte .section-background .fish-14 {
  margin: 450px 0 0 450px; }
.home-carte .section-background .fish-15 {
  margin: 645px 0 0 -330px; }
.home-carte .section-background .fish-16 {
  margin: 865px 0 0 -725px; }
.home-carte .section-background .fish-17 {
  margin: 970px 0 0 -580px; }
.home-carte .section-background .fish-18 {
  margin: 1030px 0 0 -930px; }
.home-carte .section-background .fish-19 {
  margin: 850px 0 0 290px; }
.home-carte .section-background .fish-20 {
  margin: 1160px 0 0 -470px; }
.home-carte .section-background .fish-21 {
  margin: 1180px 0 0 315px; }

.news {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 150px; }
.news .results {
  border-bottom: 1px solid #f4d7c3;
  margin-bottom: 25px; }
.news .results .results-inside {
  padding-bottom: 20px;
  margin-bottom: 2px;
  border-bottom: 1px solid #f4d7c3; }
.news .results .results-inside span {
  font-size: 24px;
  line-height: 28px;
  color: #d55f11; }
.news .columns {
  overflow: hidden;
  max-width: 1000px;
  margin: 0 auto; }
.news .columns .col {
  float: left; }
.news .columns .col-left {
  width: 715px; }
.news .columns .col-right {
  margin-left: 40px;
  width: 245px; }
.news .btn-top {
  display: none;
  position: fixed;
  right: 50%;
  margin-right: -580px;
  bottom: 150px;
  text-indent: -5000px;
  overflow: hidden;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -409px;
  width: 50px;
  height: 50px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .news .btn-top {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.news .btn-top:hover {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -461px;
  width: 50px;
  height: 50px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .news .btn-top:hover {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.news .article-preview {
  border-bottom: 1px solid #f4d7c3;
  margin-bottom: 35px; }
.news .article-preview:last-child {
  margin-bottom: 0; }
.news .article-header {
  margin-bottom: 25px;
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
.news .article-header .title {
  display: table;
  float: left;
  width: 586px;
  min-height: 105px; }
.news .article-header h2 {
  display: table-cell;
  vertical-align: middle;
  font-family: "Playfair Display", serif;
  color: #0e2046;
  font-size: 44px;
  line-height: 44px; }
.news .article-header h2 a:hover {
  color: #d55f11; }
.news .article-header .date {
  float: left;
  width: 103px;
  height: 103px;
  margin-right: 24px;
  text-align: center;
  color: #d55f11;
  border: 1px solid #f4d7c3;
  border-radius: 50%; }
.news .article-header .date .date-inside {
  width: 97px;
  height: 97px;
  margin: 2px;
  border: 1px solid #f4d7c3;
  border-radius: 50%; }
.news .article-header .date .day {
  padding-top: 18px;
  font-size: 34px;
  line-height: 34px; }
.news .article-header .date .month {
  font-size: 12px;
  line-height: 13px;
  font-weight: 700;
  text-transform: uppercase; }
.news .article-header .date .year {
  font-size: 12px;
  line-height: 13px;
  font-weight: 700; }
.news .article-header:before, .news .article-header:after {
  content: "";
  display: table; }
.news .article-header:after {
  clear: both; }
.news .article-content {
  padding-bottom: 50px;
  margin-bottom: 2px;
  border-bottom: 1px solid #f4d7c3; }
.news .article-content .article-excerpt p, .news .article-content .article-content p {
  font-size: 14px;
  line-height: 28px;
  color: #040404;
  letter-spacing: 0.5px; }
.news .article-content .btn-read {
  display: inline-block;
  border: 1px solid #b6bcc7;
  text-decoration: none;
  padding: 0 14px;
  margin-top: 22px; }
.news .article-content .btn-read .text {
  color: #0e2046;
  font-size: 12px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700; }
.news .article-content .btn-read .icon {
  display: block;
  margin: 6px 0 0 10px;
  float: right;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -194px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .news .article-content .btn-read .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.news .article-content .btn-read:hover {
  border-color: #f4d7c3; }
.news .article-content .btn-read:hover .text {
  color: #d55f11; }
.news .article-content .btn-read:hover .icon {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -212px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .news .article-content .btn-read:hover .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.news .block-pagination {
  overflow: hidden;
  padding-top: 18px; }
.news .block-pagination .btn {
  text-decoration: none;
  color: #0e2046;
  font-size: 14px;
  line-height: 28px;
  font-style: italic; }
.news .block-pagination .btn:hover .text {
  color: #d55f11; }
.news .block-pagination .btn-recent {
  float: right;
  overflow: hidden; }
.news .block-pagination .btn-recent .icon {
  float: right;
  display: block;
  margin: 6px 0 0 10px;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -194px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .news .block-pagination .btn-recent .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.news .block-pagination .btn-recent .text {
  float: left;
  display: block; }
.news .block-pagination .btn-recent:hover .icon {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -212px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .news .block-pagination .btn-recent:hover .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.news .block-pagination .btn-old {
  overflow: hidden; }
.news .block-pagination .btn-old .text {
  float: left;
  display: block; }
.news .block-pagination .btn-old .icon {
  float: left;
  display: block;
  margin: 6px 10px 0 0;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -158px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .news .block-pagination .btn-old .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.news .block-pagination .btn-old:hover .icon {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -176px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .news .block-pagination .btn-old:hover .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }

.article-carousel {
  margin-bottom: 20px; }
.article-carousel .btn-prev {
  left: 20px; }
.article-carousel .btn-next {
  right: 20px; }
.article-carousel .swipe-dots {
  bottom: 20px; }

.sticky .news .btn-top {
  display: block; }

.single-post .news .back {
  width: 1000px;
  margin: 0 auto 10px;
  overflow: hidden; }
.single-post .news .back .btn-back {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 14px;
  line-height: 28px;
  color: #0e2046;
  overflow: hidden; }
.single-post .news .back .btn-back .icon {
  display: block;
  float: left;
  margin: 6px 10px 0 0;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -158px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .single-post .news .back .btn-back .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.single-post .news .back .btn-back .text {
  float: left;
  display: block; }
.single-post .news .back .btn-back:hover .text {
  color: #d55f11; }
.single-post .news .back .btn-back:hover .icon {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -176px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .single-post .news .back .btn-back:hover .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.single-post .news .article-content {
  padding-bottom: 0; }
.single-post .news .article-full .article-content {
  padding-bottom: 50px; }
.single-post .news .article-full .article-content p {
  margin-bottom: 15px; }
.single-post .news .article-full .article-content blockquote {
  width: 50%;
  float: right;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-style: italic; }
.single-post .news .article-full .article-content blockquote p {
  padding-left: 20px;
  color: #d55f11;
  font-size: 20px;
  line-height: 34px; }
.single-post .news .columns .col-left {
  border-top: 1px solid #f4d7c3; }
.single-post .news .columns .col-left .col-inside {
  padding-top: 15px;
  margin-top: 2px;
  border-top: 1px solid #f4d7c3; }

.widget .widget-title {
  color: #0e2046;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold; }

.widget_search {
  padding: 0;
  margin-bottom: 30px; }
.widget_search .search-form {
  position: relative; }
.widget_search .search-form label {
  position: relative;
  top: -6px; }
.widget_search .search-form .search-field {
  border: 1px solid #dedede;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  padding: 10px;
  -webkit-appearance: none;
  border-radius: 0; }
.widget_search .search-form .search-submit {
  text-indent: -5000px;
  overflow: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -230px;
  width: 18px;
  height: 18px;
  background-color: transparent; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .widget_search .search-form .search-submit {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.widget_search .search-form .search-submit:hover {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -250px;
  width: 18px;
  height: 18px;
  background-color: transparent; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .widget_search .search-form .search-submit:hover {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.widget_search .search-form .search-submit:focus {
  background-color: transparent; }

.widget_featured_posts {
  padding: 0; }
.widget_featured_posts ul li {
  height: auto;
  padding: 0;
  border-top: 0;
  border-bottom: 1px solid #f4d7c3; }
.widget_featured_posts ul li a {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #0e2046; }
.widget_featured_posts ul li a:hover {
  color: #d55f11; }

.widget_calendar {
  padding: 0;
  background-color: transparent !important;
  border: none !important;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
.widget_calendar table thead {
  color: #0e2046;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: bold;
  text-align: center; }
.widget_calendar table thead td {
  padding-bottom: 10px; }
.widget_calendar table thead .calendar-title {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold; }
.widget_calendar table thead .btn-prev-calendar {
  display: block; }
.widget_calendar table thead .btn-prev-calendar .icon {
  display: block;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -158px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .widget_calendar table thead .btn-prev-calendar .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.widget_calendar table thead .btn-prev-calendar:hover .icon {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -176px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .widget_calendar table thead .btn-prev-calendar:hover .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.widget_calendar table thead .btn-next-calendar {
  display: block; }
.widget_calendar table thead .btn-next-calendar .icon {
  display: block;
  float: right;
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -194px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .widget_calendar table thead .btn-next-calendar .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.widget_calendar table thead .btn-next-calendar:hover .icon {
  background-image: url(../img/skin/x1-sprite.png);
  background-position: 0px -212px;
  width: 8px;
  height: 16px; }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-device-pixel-ratio: 1.5) {
  .widget_calendar table thead .btn-next-calendar:hover .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
.widget_calendar table tbody {
  color: #040404;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: light; }
.widget_calendar table tbody td {
  background: #f7f7f7;
  border: 1px solid #fff;
  padding: 3px 0; }
.widget_calendar table tbody td.pad {
  background: none; }
.widget_calendar table tbody td a {
  background: none;
  color: #d55f11; }
.widget_calendar table tbody td a:hover, .widget_calendar table tbody td a:focus {
  background: none;
  color: #0e2046; }
.widget_calendar table tbody td:hover a {
  color: #0e2046; }
.widget_calendar table tfoot {
  font-size: 14px;
  line-height: 14px; }
.widget_calendar table tfoot #prev {
  text-align: left;
  padding-left: 10px; }
.widget_calendar table tfoot #next {
  text-align: right;
  padding-right: 10px; }

.credits {
  position: relative;
  min-height: 525px;
  background: #ecebef url(../img/skin/bg-credits.png) repeat-x left bottom; }
.credits .credits-background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden; }
.credits .credits-background img {
  display: block;
  position: absolute;
  left: 50%; }
.credits .credits-background .fish-7 {
  top: 15px;
  margin: 0 0 0 -495px; }
.credits .credits-background .fish-7-reverse {
  bottom: 20px;
  margin: 0 0 0 50px; }
.credits .credits-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
  width: 660px;
  min-height: 275px;
  background: #fff; }
.credits .credits-content .credits-inside {
  padding: 60px; }
.credits .credits-content h3 {
  color: #0e2046;
  font-family: "Playfair Display", serif;
  font-size: 44px;
  line-height: 63px;
  margin-bottom: 20px; }
.credits .credits-content p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px; }
.credits .credits-content p a {
  color: black; }
.credits .credits-content p a:hover {
  text-decoration: none; }

@media screen and (max-width: 1279px) {
  header .header-inside {
    max-width: 960px; }
  header .header-inside .logo {
    margin-left: 0; }

  footer .footer-content {
    max-width: 960px; }

  .home-intro, .home-carte .section-inside, .home-restaurant .section-content {
    max-width: 960px; } }
@media screen and (max-width: 1040px) {
  .news .columns {
    max-width: 100%;
    margin: 0 20px; }
  .news .columns .col-left {
    width: 685px; }
  .news .columns .col-right {
    margin-left: 30px; }
  .news .article-header .title {
    width: auto;
    float: left;
    width: calc(100% -130px);
    width: -moz-calc(100% - 130px);
    width: -webkit-calc(100% - 130px); } }
@media screen and (max-width: 1023px) {
  header .header-inside {
    max-width: 760px; }
  header .header-inside .logo {
    margin-top: 54px;
    margin-right: 25px; }
  header .header-inside .logo a {
    width: 120px; }
  header .header-inside nav ul li .icon {
    margin-left: 20px;
    margin-right: 20px; }

  footer .footer-content {
    text-align: center;
    max-width: 720px; }

  .swipe-container .btn-prev {
    left: 20px; }
  .swipe-container .btn-next {
    right: 20px; }

  .home-intro, .home-carte .section-inside {
    max-width: 760px; }

  .home-intro .col-left {
    padding-top: 20px; }
  .home-intro .col-left .title-top {
    font-size: 39px;
    line-height: 38px; }
  .home-intro .col-left .title-main {
    font-size: 62px;
    line-height: 53px; }
  .home-intro .col-center, .home-intro .col-right {
    width: 33.33%; }
  .home-intro .col-center .block-col-inside, .home-intro .col-right .block-col-inside {
    padding: 10px 10px 0 40px; }

  .home-carte .block-left {
    padding-right: 0; }
  .home-carte .block-line {
    display: block; }
  .home-carte .block-line .block-tall {
    display: block; }
  .home-carte .block-line .block-bottom {
    display: block;
    width: 100%; }
  .home-carte .block-line .block-bottom .block-menu-inside {
    margin: 40px 60px 0;
    width: 45%; }
  .home-carte .block-line .block-bottom .block-menu-inside.block-force-right {
    float: right; }
  .home-carte .block-center, .home-carte .block-tall {
    width: auto;
    margin: 0 60px; }
  .home-carte .desktop-only {
    display: none !important; }
  .home-carte .no-desktop {
    display: block !important; }

  .home-restaurant .section-content {
    margin: 0 20px; }
  .home-restaurant .block-col .img-container {
    height: 280px; }
  .home-restaurant .restaurant-slider {
    margin: 90px 15px 0; }

  .home-contact .contact-content {
    margin-left: -350px; }

  .news {
    padding-bottom: 50px;
    border-bottom: none; }
  .news .columns .col-left, .news .columns .col-right {
    width: 100%;
    float: none; }
  .news .columns .col-right {
    margin-top: 40px;
    margin-left: 0; }

  .widget_featured_posts ul li {
    padding: 10px 0; }

  .single-post .news .back {
    width: auto;
    margin: 0 20px 10px; } }
@media screen and (max-width: 799px) {
  h2.title {
    font-size: 40px;
    margin: 20px 0; }
  h2.title .icon {
    margin-bottom: 0; }
  h2.title .text {
    margin: 0 8px; }

  .swipe-container .btn-prev, .swipe-container .btn-next {
    display: none; }

  .home-intro {
    text-align: center;
    margin: 0 25px; }
  .home-intro .separator {
    display: none; }
  .home-intro .block-col {
    float: none;
    width: 100%; }
  .home-intro .block-col.col-left {
    padding-top: 0;
    margin-bottom: 30px; }
  .home-intro .block-col.col-left .title-top, .home-intro .block-col.col-left .title-main {
    display: block; }
  .home-intro .block-col.col-center {
    background: none;
    margin-bottom: 20px; }
  .home-intro .block-col.col-right {
    padding-top: 30px;
    background: url(../img/skin/separator-mobile.png) no-repeat top center;
    background-size: 160px 15px; }
  .home-intro .block-col.col-center, .home-intro .block-col.col-right {
    height: auto; }
  .home-intro .block-col.col-center .block-col-inside, .home-intro .block-col.col-right .block-col-inside {
    padding: 0; }

  .home-carte .block-center, .home-carte .block-line .block-tall {
    width: auto;
    margin: 0 20px; }
  .home-carte .block-line .block-bottom {
    width: auto;
    margin: 0 20px; }
  .home-carte .block-line .block-bottom .block-menu-inside {
    margin: 20px 0 0;
    width: auto; }
  .home-carte .block-line .block-bottom .block-menu-inside.block-force-right {
    float: none; }

  .home-restaurant {
    margin-bottom: 30px; }
  .home-restaurant .block-col {
    width: 100%;
    margin-bottom: 15px;
    float: none;
    display: block;
    text-align: center; }
  .home-restaurant .block-col .img-container {
    display: block;
    height: 200px;
    text-align: center;
    margin-bottom: 10px; }
  .home-restaurant .block-col .img-container img {
    margin: 0 auto;
    width: auto; }
  .home-restaurant .restaurant-slider {
    margin: 20px 0 0; } }
@media screen and (max-width: 767px) {
  #wrapper {
    margin-top: 55px; }

  header, .sticky header {
    height: 55px; }
  header .header-inside nav, .sticky header .header-inside nav {
    display: none; }
  header .header-inside .logo, .sticky header .header-inside .logo {
    margin: 15px 0 0 15px; }
  header .header-inside .logo a, .sticky header .header-inside .logo a {
    width: 100px; }
  header .header-inside .btn-lang, .sticky header .header-inside .btn-lang {
    margin-top: 26px;
    margin-right: 20px; }
  header .block-social, .sticky header .block-social {
    margin-top: 26px; }
  header .block-social .separator, .sticky header .block-social .separator {
    margin-right: 12px; }

  footer {
    margin-top: 20px;
    border-top: 1px solid #e5e5e5; }
  footer .footer-content {
    position: relative;
    padding-top: 40px;
    margin-bottom: 100px; }
  footer .footer-content .footer-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -40px;
    width: 80px; }
  footer .footer-content .btn-credits {
    display: block;
    margin-right: 0; }
  footer .footer-content .form-newsletter {
    margin: 20px 20px 0; }
  footer .footer-content .form-newsletter label {
    display: block;
    margin: 0 0 7px 0;
    text-align: center; }

  .mobile-nav {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 64px;
    background: #fff; }
  .mobile-nav .btn {
    position: absolute;
    height: 100%;
    display: block;
    width: 20%;
    background: #081838;
    text-decoration: none;
    text-align: center;
    font-size: 9px; }
  .mobile-nav .btn .btn-inside {
    display: block;
    height: 100%;
    border-right: 1px solid #212f4b; }
  .mobile-nav .btn .icon {
    display: block;
    margin: 0 auto; }
  .mobile-nav .btn .text {
    color: #faf8f4;
    text-transform: uppercase; }
  .mobile-nav .btn:hover {
    background: #d55f11; }
  .mobile-nav .btn:hover .text {
    color: #fff; }
  .mobile-nav .btn.btn-carte {
    left: 0; }
  .mobile-nav .btn.btn-carte .btn-inside {
    padding-top: 18px; }
  .mobile-nav .btn.btn-carte .icon {
    margin-bottom: 10px;
    background-image: url(../img/skin/x1-sprite.png);
    background-position: 0px -141px;
    width: 29px;
    height: 15px; } }
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  .mobile-nav .btn.btn-carte .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
@media screen and (max-width: 767px) {
  .mobile-nav .btn.btn-restaurant {
    left: 20%; }
  .mobile-nav .btn.btn-restaurant .btn-inside {
    padding-top: 14px; }
  .mobile-nav .btn.btn-restaurant .icon {
    margin-bottom: 10px;
    background-image: url(../img/skin/x1-sprite.png);
    background-position: 0px -291px;
    width: 21px;
    height: 19px; } }
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  .mobile-nav .btn.btn-restaurant .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
@media screen and (max-width: 767px) {
  .mobile-nav .btn.btn-contact {
    left: 40%; }
  .mobile-nav .btn.btn-contact .btn-inside {
    padding-top: 12px; }
  .mobile-nav .btn.btn-contact .icon {
    margin-bottom: 10px;
    background-image: url(../img/skin/x1-sprite.png);
    background-position: 0px -334px;
    width: 14px;
    height: 21px; } }
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  .mobile-nav .btn.btn-contact .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
@media screen and (max-width: 767px) {
  .mobile-nav .btn.btn-news {
    left: 60%; }
  .mobile-nav .btn.btn-news .btn-inside {
    padding-top: 16px; }
  .mobile-nav .btn.btn-news .icon {
    margin-bottom: 8px;
    background-image: url(../img/skin/x1-sprite.png);
    background-position: 0px -270px;
    width: 19px;
    height: 19px; } }
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  .mobile-nav .btn.btn-news .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
@media screen and (max-width: 767px) {
  .mobile-nav .btn.btn-phone {
    left: 80%;
    background: #002671; }
  .mobile-nav .btn.btn-phone .btn-inside {
    padding-top: 14px; }
  .mobile-nav .btn.btn-phone .icon {
    margin-bottom: 9px;
    background-image: url(../img/skin/x1-sprite.png);
    background-position: 0px -312px;
    width: 20px;
    height: 20px; } }
@media only screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), screen and (max-width: 767px) and (min-device-pixel-ratio: 1.5) {
  .mobile-nav .btn.btn-phone .icon {
    background-image: url(../img/skin/x2-sprite.png);
    background-size: 52px 1081px; } }
@media screen and (max-width: 767px) {
  .mobile-nav .btn.btn-phone .btn-inside {
    border-right: none; }
  .mobile-nav .btn.btn-phone:hover {
    background: #1848a9; }

  .home-carte .block-menu h3 {
    font-size: 28px;
    line-height: 40px; }
  .home-carte .block-menu h5 {
    line-height: 13px; }
  .home-carte .block-menu .main-price {
    margin-top: 10px; }
  .home-carte .block-menu .menu-content {
    font-size: 13px;
    line-height: 17px; }
  .home-carte .block-menu .block-menu-inside {
    padding: 20px 20px 30px; }
  .home-carte .block-line {
    margin: 35px 0; }

  .home-restaurant .block-col .block-col-inside {
    margin: 0; }

  .home-contact .map {
    height: 220px; }
  .home-contact .contact-content {
    width: 100%;
    position: static;
    margin: 0; }
  .home-contact .contact-inside {
    padding: 30px 40px; }

  .single-post .news .article-full .article-content blockquote {
    width: auto;
    float: none; }
  .single-post .news .article-full .article-content blockquote p {
    padding: 0 10px; }

  .news .article-header .date {
    width: 73px;
    height: 73px;
    margin-right: 20px; }
  .news .article-header .date .date-inside {
    width: 67px;
    height: 67px; }
  .news .article-header .date .day {
    padding-top: 6px;
    font-size: 24px;
    line-height: 24px; }
  .news .article-header .title {
    width: calc(100% -100px);
    width: -moz-calc(100% - 100px);
    width: -webkit-calc(100% - 100px);
    min-height: 75px; }
  .news .article-header .title h2 {
    font-size: 26px;
    line-height: 30px; } }
@media screen and (max-width: 480px) {
  .article-carousel .swipe-dots, .swipe-container .swipe-dots {
    bottom: 10px; }
  .article-carousel .btn-dot, .swipe-container .btn-dot {
    margin: 0 3px; }
  .article-carousel .btn-dot .dot, .swipe-container .btn-dot .dot {
    width: 5px;
    height: 5px; }
  .article-carousel .btn-prev, .article-carousel .btn-next, .swipe-container .btn-prev, .swipe-container .btn-next {
    visibility: hidden; }

  .news .block-pagination .btn-old .text, .news .block-pagination .btn-recent .text {
    font-size: 12px; } }
.touch .home-carte .block-lunch, .touch .home-carte .block-starters, .touch .home-carte .block-mains {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  transform: none;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none; }
.touch .home-restaurant .block-col {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  transform: none; }
.touch .home-restaurant .block-col.block-col-0, .touch .home-restaurant .block-col.block-col-1, .touch .home-restaurant .block-col.block-col-2 {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none; }
.touch .home-restaurant.show-restaurant .block-col {
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  -webkit-transform: none;
  transform: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }
